body{
  color: #dda64d;
  background-image: url('https://d36tnp772eyphs.cloudfront.net/blogs/1/2020/03/Ursa-major-and-Ursa-Minor-Constellations-in-outer-space.jpg');
  background-color:#212529;
  text-align: center;
  size: 100%;
}

@media only screen and (min-width: 600px) {
  body{
    background-color: black;
  }
}

@media only screen and (min-width: 1000px) {
  body{
    background-color: rgb(5, 48, 23);
  }
}