<<<<<<< HEAD
=======
.icon-container{
  display: flex;
}
>>>>>>> 0431f40b664b36bcf9103e9e3432027f3f835774
.contact{
  font-size: 20px;

}

.footer {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: auto 40px;
  margin-bottom: 0;
  padding: 0px;
}

.footer-icons{
  height: 50px; 
  margin: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 15px;
}

<<<<<<< HEAD
.icon-container{
  display: flex;
=======
#name{
  font-size:15px;
  margin-top: 40px;
  position: relative;
  bottom: 0;
  left: 0;
>>>>>>> 0431f40b664b36bcf9103e9e3432027f3f835774
}