.edit-remove{
  direction: flex;
  justify-content: space-between;
}

.hook-list{
  font-size: 40px;
}

.username{
  font-size: 30px;
  border: 2px solid gold;
  margin: 10px auto;
  padding: 30px;
  min-width: 200px;
}
